@inherits BaseSpinner
<div class="text-@(Alignment ?? "center")">
    <div class="@SpinnerTypes[Type] @SpinnerColors[Color]" style="@Style" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>