@page "/giris"

<PageTitle>giriş - ekşi sözlük</PageTitle>

<h1 class="title mb-5">giriş</h1>

<form class="d-flex flex-column gap-2 w-50 mb-5">
    <div>
        <label class="form-label">e-mail adresi</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <label class="form-label">şifre</label>
        <input type="password" class="form-control">
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" />
            unutma bunları sorucam sonra
        </label>
    </div>
    <button class="btn btn-form">giriş yapmaya çabala</button>
</form>

<h1 class="title mb-4">giremeyiş</h1>
<div class="d-flex flex-column gap-1 fs-08 color-white900">
    <a class="hover-text-underline" href="/sifremi-unuttum">şifremi unuttum</a>
    <a class="hover-text-underline" href="/kayit">kayıtlı kullanıcı olunası</a>
</div>