<ul class="sidebar-list fs-09">
    @foreach (var entry in EntryList)
    {
        <li class="sidebar-list-item d-block">
            <a href="/@entry.Url" class="d-flex align-items-center">
                <p class="w-90 m-0 color-white700 lh-10">@entry.Subject</p>
                <span class="d-inline-block w-10 color-white500">@entry.CommentCount</span>
            </a>
        </li>
    }
</ul>

@code {

    [Parameter] public IEnumerable<SidebarViewModel> EntryList { get; set; }
}