:root {
    --deeporange-50: #FBE9E7;
    --deeporange-100: #FFCCBC;
    --deeporange-200: #FFAB91;
    --deeporange-300: #FF8A65;
    --deeporange-400: #FF7043;
    --deeporange-500: #FF5722;
    --deeporange-600: #F4511E;
    --deeporange-700: #E64A19;
    --deeporange-800: #D84315;
    --deeporange-900: #BF360C;
}