@using Blazor.Shared.HeaderComponents
<header>
    <div class="container">
        <div class="row g-0 align-items-center justify-content-between py-3">
            <div class="col-6">
                <div class="row g-0">
                    <div class="col-5">
                        <Logo />
                    </div>
                    <div class="col-7">
                        <Search />
                    </div>
                </div>
            </div>
            <div class="header-account-link col-6 d-flex justify-content-end color-white800 fs-08 gap-4">
                <a href="/giris">giriş</a>
                <a href="/kayit">kayıt ol</a>
            </div>
        </div>
        <Navigation />
    </div>
</header>