@inherits LayoutComponentBase

<Header />
<main>
    <div class="container">
        <div class="d-flex">
            <section id="sidebar" class="w-20">
                <Sidebar />
            </section>
            <div class="row w-80 g-0">
                <div class="col-8 ps-5 py-3">
                    @Body
                </div>
                <footer class="col-12 ps-5">
                    <div class="border-top border-white400 d-flex gap-3 fs-09 py-3 color-white800">
                        <a href="#">iletişim</a>
                        <a href="#">şeffaflık raporları</a>
                        <a href="#">sözlük kuralları</a>
                        <a href="#">reklam</a>
                        <a href="#">kariyer</a>
                        <a href="#">kullanım koşulları</a>
                        <a href="#">gizlilik politikamız</a>
                        <a href="#">sss</a>
                        <a href="#">istatistikler</a>
                        <a href="#">sub-etha</a>
                        <a href="#">instagram</a>
                        <a href="#">twitter</a>
                        <a href="#">facebook</a>
                    </div>
                </footer>
            </div>
        </div>

    </div>
</main>