@inherits ResponseViewRazor

@if(State.Status == ResponseStatus.None){
    if(ResponseNone != null)
    {
@ResponseNone
    }
}
else if (State.Status == ResponseStatus.Waiting)
{
    if (ResponseWaiting == null)
    {
        <Spinner Color="BootstrapColor.Dark" Type="SpinnerType.Grow" />
    }
    else
    {
        @ResponseWaiting
    }
}
else if (State.Status == ResponseStatus.Success)
{
    @ResponseSuccess
}
else if (State.Status == ResponseStatus.NotFound)
{
    if (ResponseNotFound == null)
    {
        <p class="text-danger">@State.Message</p>
    }
    else
    {
        @ResponseNotFound
    }
}
else
{
    if (ResponseError == null)
    {
        <p class="text-danger">@State.Message</p>
        <p class="text-danger">@State.Detail</p>
    }
    else
    {
        @ResponseError
    }
}