aside {
    max-height: calc(100vh - 140px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 140px;
    width: 260px;
}

aside::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

aside::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: white;
}

aside::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ffffff;
}


.btn-refresh {
    border-radius: 0;
    font-size: 0.8rem;
    width: 100%;
    border: 1px solid var(--white-400);
    margin-bottom: 0.5rem;
    transition: all 0s;
}

.btn-refresh i {
    color: var(--white-900) !important;
}

.btn-refresh:hover {
    background-color: var(--white-100);
    color: var(--theme);
}