<div class="py-4">
    <p class="fs-09 lh-7 mb-2">
        @Content
    </p>
    <div class="entry-buttons d-flex justify-content-between mb-2">
        <div class="d-flex gap-4 color-white500 fs-08">
            <a href="#" class="entry-buttons-up">
                <i class="bi bi-arrow-up-square"></i>
            </a>
            <a href="#" class="entry-buttons-down">
                <i class="bi bi-arrow-down-square"></i>
            </a>
        </div>
        <div class="d-flex gap-4 color-white500 fs-08">
            <a href="#">
                <i class="bi bi-box-arrow-up"> </i>
            </a>
            <a href="#">
                <i class="bi bi-three-dots"> </i>
            </a>
        </div>
    </div>
    <div class="entry-user d-flex gap-3 justify-content-end">
        <div class="text-end">
            <a href="#" class="d-block fs-08" style="color: var(--theme-300);">@Username</a>
            <a href="#" class="d-block color-white600 fs-07">@CreatedDate</a>
        </div>
        <div>
            <a href="#" class="d-inline-block">
                <img src="https://icones.pro/wp-content/uploads/2021/02/icone-utilisateur-gris.png" class="img-fluid"
                    width="40">
            </a>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Content { get; set; }
    [Parameter] public string? Username { get; set; }
    [Parameter] public string Image { get; set; }
    [Parameter] public DateTime CreatedDate { get; set; }
}