@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import "./custom.css";

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none !important;
}

i {
    pointer-events: none !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

.btn-form {
    background-color: var(--theme);
    border-radius: 2px;
    font-size: 0.9rem;
    color: white !important;
    padding: 0.6rem 0;
    border-color: var(--theme-100);
    transition: all 0s;
}

.btn-form:hover {
    background-color: var(--theme-200);
    border-color: var(--theme-300);
}

.btn-gender {
    background-color: var(--white-100);
    font-size: 0.9rem;
    transition: all 0s;
}

.btn-gender:has(.btn-gender-option:checked) {
    background-color: var(--theme);
    border-color: var(--theme-100);
    color: white;
}


.btn-gender:hover {
    background-color: var(--theme) !important;
}

.hover-text-underline:hover {
    text-decoration: underline !important;
}

.title {
    /* color-white900 fw-700 mb-5 */
    color: var(--white-900);
    font-weight: 700;
    font-size: 1.2rem;
}

.password-requirement {
    padding: 0.4rem;
    font-size: 0.8rem;
    color: var(--white-500);
}