<div>
    <div class="d-flex align-items-center gap-2 profile-count fs-09 fw-600 color-white600">
        <span>0 entry</span>
        <span class="sd-1 bg-white900"></span>
        <span><b>0</b> takipçi</span>
        <span class="sd-1 bg-white900"></span>
        <span><b>0</b> takip</span>
    </div>
    <p class="fs-09">henüz 10 entry'yi tamamlamadığınızdan onay sırasında değilsiniz.</p>
</div>
