<div>
    @if (!string.IsNullOrEmpty(Biography))
    {
        <h6 class="my-2">@Biography</h6>
    }
    <div class="d-flex align-items-center gap-2 profile-count fs-09 fw-600 color-white600">
        <span>@EntryCount entry</span>
        <span class="sd-1 bg-white900"></span>
        <span><b>0</b> takipçi</span>
        <span class="sd-1 bg-white900"></span>
        <span><b>0</b> takip</span>
    </div>
    <p class="fs-09">henüz 10 entry'yi tamamlamadığınızdan onay sırasında değilsiniz.</p>
</div>

@code {
    [Parameter] public string? Biography { get; set; }
    [Parameter] public int? EntryCount { get; set; }
}