<ResponseView State="@PaneState">
    <ResponseSuccess>
        @if (ViewModel != null)
        {
            foreach (var item in ViewModel)
            {
                <EntryView Content="@item?.Content" CreatedDate="@item?.CreatedDate" Subject="@item?.Subject" Url="@item?.Url"
                    Username="@item?.Username" />
            }
        }
        @if (ShowLoadMoreButton)
        {
            <button class="btn btn-outline-secondary w-100" @onclick="LoadMore">daha fazla göster</button>
        }
        else
        {
            @NotFound
        }
    </ResponseSuccess>
</ResponseView>

@code {
    [Parameter] public UserViewModel? User { get; set; }
    [Parameter] public Func<Guid, int, Task<RequestResponse>> LoadDataRequest { get; set; }
    [Parameter] public RenderFragment NotFound { get; set; }
    Guid? OldUserId;
    List<EntryViewModel>? ViewModel;
    ApplicationState PaneState = new ApplicationState(ResponseStatus.Waiting);
    int Skip = 0;
    bool ShowLoadMoreButton = true;

    protected override async Task OnInitializedAsync()
    {
        if (User != null)
        {
            OldUserId = User.Id;
            await InitAsync();
        }
    }
    protected override async Task OnParametersSetAsync()
    {
        if (OldUserId != User?.Id && User != null)
        {
            OldUserId = User.Id;
            await InitAsync();
        }
    }
    private async Task InitAsync()
    {
        PaneState.Status = ResponseStatus.Waiting;
        var response = await LoadDataRequest.Invoke(User.Id, Skip);
        if (response.IsSuccess)
            ViewModel = await response.ResultAsync<List<EntryViewModel>>();
        PaneState.SetResponse(response);
    }

    public async Task LoadMore()
    {
        Skip += 5;
        var response = await LoadDataRequest.Invoke(User.Id, Skip);
        if (response.IsSuccess)
        {
            var result = await response.ResultAsync<List<EntryViewModel>>();
            if (result.Any())
                ViewModel.AddRange(result);
        }
        else
            ShowLoadMoreButton = false;
    }
}