<form>
    <div class="input-group">
        <input type="text"
            class="form-control form-control-sm border-theme border-end-0 border-radius-5 fs-08 fw-500 focus-disable"
            placeholder="başlık,#entry,@@yazar">
        <a href="#" class="d-flex align-items-center justify-content-center px-3 border border-theme">
            <i class="bi bi-caret-down-fill fs-05 color-white600"></i>
        </a>
        <button type="button" class="btn btn-theme btn-sm">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>